# Created by .ignore support plugin (hsz.mobi)
### WordPress template
*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/gallery/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

.idea
node_modules

vendor/

odyssea.sublime-project
odyssea.sublime-workspace


# Legacy stuff that shouldn't be in git
focmanovo/
fofli/
grafika/
lobovo/
log/
nebudovce/
static/
zalohy/

index.html
info.php
